<br>
<div class="job-main whitebox">                      
         <h4 class="acchead">Search Jobs</h4>
         <form class="form-horizontal" >
             
		<div class="col-search-left">
                 <label class="sr-only" for="location">Location</label>
                 <input type="text" class="form-control" name="location" id="location" placeholder="Search By Bengaluru, Delhi, Pune, Mumbai">                                
             </div>
		
		<div class="col-search-right">
                 <label class="sr-only" for="jobtitle">Job Title</label>
                 <input type="text" class="form-control" name="jobtitle" id="jobtitle" placeholder="Search By Skills, Title, Keywords">
             </div>
             
            
             <div class="submit-btn" style="margin-top: 25px;">
                 <input type="submit" class="ui-btn" name="submit" value="Search Jobs">
             </div>                           
         </form>
</div>
<br>
